body {
  color: #555;
  font-size: 1.25em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  margin: 50px 0;
}

ul {
  list-style: none;
  padding-inline-start: 30px;
}

li {
  margin-top: 1em;
}

label {
  font-weight: bold;
  padding-left: 15px;
}

.sidebar{
  padding: 15px;
  border: 1px solid #f1f1f1;
}

.wsh-app{
  margin-top: 50px;
  margin: 40px 0px;
}